*{
 
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
html,body{
   
    height: 100%;
    width: 100%;
}

.d1{
 height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   background-color:rgb(238, 233, 233);
}
 input{

    text-align: center;
  
 }

 .counter{
    
    color:red;
    font-size: 40px;
    font-weight: bolder;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 17px;
 }